#### Auto ML

In [ ]:
reg = setup(os_df, target = 'y', train_size=0.6, session_id = 5, transformation = True)

# data = input data, target = target data, session_id = int (seed 정하기), normalize = 정규화 할지
# transfomation = 데이터를 정규화분포에 가깝게 하게 처리해줌
best = compare_models(sort = 'RMSE')

In [ ]:
best_3 = compare_models(sort= 'RMSE', n_select = 3)
# 가장 성능이 좋은 3가지 모델을 선택
# train, valid로 나눈 값 -> 다시 train 하나로 합쳐 test 성능을 내야 함

> voting을 통해 가장 성능이 좋았던 3가지 모델의 성능을 계산(튜닝 x)

In [ ]:
blended = blend_models(estimator_list = best_3, fold = 10)

In [ ]:
finalized_model = finalize_model(blended)

In [ ]:
pred_final = predict_model(finalized_model, data = x_test)

In [ ]:
pred_final['prediction_label']

0      1267.398844
1      1261.968526
2      1263.756456
3      1259.567407
4      1261.772446
          ...
118    1265.876001
119    1261.271901
120    1262.076311
121    1263.175388
122    1259.756563
Name: prediction_label, Length: 123, dtype: float64

In [ ]:
# mean_squared_error 의 매개변수 squared 가 False 이면 RMSE 를 반환합니다.
def rmse(y_true,y_pred):

    return round(mean_squared_error(y_true, y_pred,squared=False),4)

In [ ]:
rmse(y_test, pred_final['prediction_label'])

7.2167

> 각 모델의 기본모델(vanilla model)을 생성

In [ ]:
cat = create_model('catboost', cross_validation = False)
et = create_model('et', cross_validation = False)
rf = create_model('rf', cross_validation = False)

> 모델들의 튜닝을 진행

In [ ]:
tuned_cat = tune_model(cat, optimize = 'RMSE', n_iter = 20)

In [ ]:
final_cat_model = finalize_model(tuned_cat)
#finalize_model은 train과 valid로 나눠있던 데이터를 하나의 train으로 합쳐주는 역할

In [ ]:
pred_cat = predict_model(final_cat_model, data = x_test)

> 튜닝된 cat boost의 성능

In [ ]:
rmse(y_test, pred_cat['prediction_label'])

7.0444

In [ ]:
tuned_cat = tune_model(cat, optimize = 'RMSE', n_iter = 30) # n_iter을 30으로 변경

In [ ]:
final_cat_model = finalize_model(tuned_cat)

In [ ]:
pred_cat = predict_model(final_cat_model, data = x_test)

In [ ]:
rmse(y_test, pred_cat['prediction_label'])

7.0444

> model extra tree를 썼을 때

In [ ]:
tuned_et_n = tune_model(et, optimize = 'RMSE', n_iter = 15)

In [ ]:
final_et_model_n = finalize_model(tuned_et_n)

In [ ]:
pred_et_n = predict_model(final_et_model_n, data = x_test)

In [ ]:
rmse(y_test, pred_et_n['prediction_label'])

7.2125

> model Random Forest를 썼을 때

In [ ]:
tuned_rf_n = tune_model(rf, optimize = 'RMSE', n_iter = 15)

In [ ]:
final_rf_model_n = finalize_model(tuned_rf_n)

In [ ]:
pred_rf_n = predict_model(final_rf_model_n, data = x_test)

In [ ]:
rmse(y_test, pred_rf['prediction_label'])

7.3723

> et와 rf를 voting 해보기

In [ ]:
blender_specific = blend_models(estimator_list = [tuned_et_n,tuned_rf_n], optimize = 'RMSE')

In [ ]:
final_model = finalize_model(blender_specific)

In [ ]:
pred = predict_model(final_model, data = x_test)

In [ ]:
rmse(y_test, pred['prediction_label'])

7.167